.avatar-xl .avatar-img {
    height: 3rem;
}

.avatar .avatar-img {
    border-radius: 100%;
    object-fit: cover;
    height: 2rem;
    width: auto;
}

.img-fluid {
    max-width: 100%;
}

.border-top-primary {
    border-top: 0.25rem solid #e899dc !important;
}


.external-event {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    cursor: move;
    font-weight: 700;
    margin-bottom: 4px;
    padding: 5px 10px;
}
.external-event:hover {
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2);
}

.bg-warning {
    background-color: #ffc107!important;
    color: #fff!important;
}

.bg-info {
    background-color: #17a2b8!important;
    color: #fff!important;
}

.bg-success {
    background-color: #28a745!important;
    color: #fff!important;
}


.callout.callout-info {
    border-left-color: #117a8b;
}

.callout {
    border-radius: 0.25rem;
    box-shadow: 0 1px 30px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}
