.avatar-xl .avatar-img {
    height: 3rem;
}

.avatar .avatar-img {
    border-radius: 100%;
    object-fit: cover;
    height: 2rem;
    width: auto;
}

.img-fluid {
    max-width: 100%;
}

.border-top-primary {
    border-top: 0.25rem solid #e899dc !important;
}